.home-bg-img {
    background-image: url('../img/alone-penguin.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1050px;
    width: 100%;
    /* width: 1600px; */
}



.home-ctr-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 55%;
    padding-top: 125px;
    height: fit-content;
}

.name-position-ctr {
    height: fit-content;
}

.quote-btn-ctr {
    height: fit-content;
}


.btn-wrap {
    display: flex;
    width: 100%;
    justify-content:l;
    margin-left: -25px;
}

button {
    height: 45px;
    width:180px;
    font-size: 18px;
    margin-left: 25px;
    border: 2px solid #09868b;
    border-radius: 12px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    font-weight: 700;
}

button:hover {
    border: 2px groove black;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
    color: #09868b;

}

button:active {
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

button:focus {
    border: none;
    font-style: italic;
    color: #09868b;
}

h1 {
    margin-bottom: -10px;
    color:#09868b;
    font-size: 55px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

h3 {
    font-size: 30px;
    font-family: 'Indie Flower', cursive;

}